{% extends 'stdNavBar.html' %}
{% load static %}
{% block title %} Library Management System {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
    <h1 class="text-center" style=" background-color : #ECF2FF">Due Books</h1>
    <table class="table table-hover" id="example">
        <thead>
            <tr class="text-center">
                <th>Sr.No</th>
                <th>Issue ID</th>
                <th>Book Name</th>
                <th>Issued Date</th>
                <th>Due Date</th>
                <th>Fine</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for i in details %}
            <tr class="text-center">
                <td>{{forloop.counter}}.</td>
                <td>{{i.0}}</td>
                <td>{{i.1}}</td>
                <td>{{i.2}}</td>
                <td>{{i.3}}</td>
                
                <td>{% if i.4 == 0%}
                    <p class="text-success"> 0 (NO FINE) </p></td>
                    {%else%}
                    <p class="text-danger"> ₹{{i.4}}/- </p>
                    {%endif%}
                </td>
                <td>
                    {% if i.5 == 1%}
                    Not Returned(No Due)
                    {% elif i.5 == 2%}
                    Not Returned(Over Due)
                    {% elif i.5 == 3%}
                    Returned        
                    {% endif %}
                    
                    {% comment %} {{i.7}} {% endcomment %}
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
